<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.explem.smalllemonade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="585dcfcf2ae85b2913002bc8" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <meta-data
            android:name="design_width"
            android:value="1280" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".view.Home_Fragemnt_Note"></activity>
        <meta-data
            android:name="com.explem.smalllemonade.utils.MyGlideMoudle"
            android:value="GlideModule" />

        <activity android:name=".MineJumpActivity" />
        <activity android:name=".DaoHangActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TiaoZhuanActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WangJiActivity" />
        <activity android:name=".ZhuceActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ViewDemoActivity"></activity>
        <activity android:name=".community.CategoryDetailActivity" />
        android:value="GlideModule" />
        <activity android:name=".UapdateNameAcitvity" />
        <activity android:name=".ModifyPwdActivity" />
        <activity android:name=".InviteActivity"></activity>

        <activity android:name=".Lenmmon_Girl_Gift" />
        <activity android:name=".Home_Fragment_Love_oxygen_nine" />
        <activity android:name=".Home_Fragment_Code_I_Know" />
        <activity android:name=".Home_Fragment_Love_Shequ"></activity>


    </application>

</manifest>